* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MuseoCyrl-900";
  src: url("../fonts/MuseoCyrl-900.woff") format("woff"),
    url("../fonts/MuseoCyrl-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

p,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #202020;
}

a {
  text-decoration: none;
}

.title {
  font-family: "MuseoCyrl-900", serif;
  font-weight: 900;
  font-size: 54px;
  margin-bottom: 15px;
  margin-top: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  padding: 22px 0;
  z-index: 1;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}

.logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.nav-link {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  margin-left: 11px;
  margin-right: 11px;
}

.login {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
}

.hero {
  padding: 62px 0 71px;
  margin-top: 60px;
}

.hero-container {
  display: flex;
  max-width: 1140px;
  margin: auto;
  align-items: center;
}

.image-block {
  position: relative;
  margin-right: 122px;
}

.image-block img {
  width: 100%;
}

.sale-label {
  position: absolute;
  right: 0;
  top: 23px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #c93535;
  padding: 12px 17px;
}

.author {
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
}

.subtitle {
  max-width: 358px;
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 48px;
}

.info {
  max-width: 510px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.info-text {
  font-size: 16px;
  font-weight: 400;
  flex-basis: 45%;
  margin-bottom: 16px;
}

.type,
.age {
  margin-bottom: 0;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.price-tag {
  font-weight: 400;
  font-size: 55px;
  margin-right: 64px;
}

.favorites {
  display: block;
  width: 200px;
  text-align: right;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: inherit;
}

.buttons {
  display: flex;
  align-items: center;
}

.button {
  width: 250px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
  min-height: 60px;
  text-align: center;
}

.button-primary {
  background-color: #f89c02;
  color: #ffffff;
  margin-right: 20px;
}

.button-outline {
  display: inline-block;
  color: #f89c02;
  border: 2px solid #f89c02;
}

/* ABOUT */

.about {
  background-color: #f1f1f1;
  padding: 93px 0 96px;
}

.about-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}

.about-book {
  max-width: 454px;
  flex-shrink: 0;
}

.about-title {
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 700;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.about-text-top {
  margin-bottom: 30px;
}

.about-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  background-color: #ffffff;
  max-width: 552px;
  padding: 68px 117px 86px 53px;
}

.author-avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
}

.author-name {
  max-width: 260px;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 14px;
}

.author-link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.author-text {
  margin-top: 27px;
  flex-basis: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

/* READERS */

.readers {
  padding: 87px 0 109px;
}

.readers-container {
  max-width: 1140px;
  margin: auto;
}

.readers-title {
  margin: 0;
  padding: 0;
  margin-bottom: 57px;
  font-size: 32px;
  font-weight: 700;
}

.readers-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 30px;
}

.readers-image {
  width: 165px;
  height: 165px;
  object-fit: cover;
}

/* FOOTER */

.footer {
  background-color: #f1f1f1;
  padding: 60px 0 93px;
}

.footer-container {
  max-width: 1120px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 32px;
}

.footer-list {
  padding: 0;
  list-style: none;
}

.list-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
}

.requisites {
  margin-right: 168px;
}

.information {
  margin-right: 157px;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 18px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 4px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
}

@media (max-width: 960px) {
  .header-container {
    max-width: 960px;
  }
}