body {
  color: #f1f1f1;
}

h2 {
  color: blue;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}